{% extends "PPCoreBundle::layout.html.twig" %}

{% block body %}
    {% block pp_body %}
            <div class="container">
        <div class="row">
            <div class="box">
                <h2 class="text-center">Quelques astuces pour vous aider</h2>
                    {% for astuce in astuces %}
                        <div class="col-sm-3 text-center "> 
                            <div class="text-img border-astuce">
                                <h4>{{ astuce.title }}</h4>
                                <a class="link-profil" href="{{ path('core_astuce',{'id':astuce.id}) }}">Voir l'astuce</a>
                                <p>Ajouté le {{ astuce.date | date('d/m/Y') }}</p>
                                {% if is_granted("ROLE_ADMIN") %}
                                    <a class="link-profil" href="{{ path('core_delete_astuce',{'id':astuce.id}) }}">Supprimer</a><span class="space-link">|</span>
                                    <a class="link-profil" href="{{ path('core_edit_astuce',{'id':astuce.id}) }}">Modifier</a>
                                {% else %}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    
                <div class="clearfix"></div>
                <div class="text-center ">
                    {% if nbPage > 1 %}
                    <ul class="pagination  ">
                        {% for p in range(1, nbPage) %}
                            <li{% if p == page %} class="active"{% endif %}>
                                <a href="{{ path('core_astuces',{'page':p}) }}">{{ p }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        </div>
    </div>
    {% endblock %}
{% endblock %}